@import "../../colors.scss";

html {
  font-size: 10px;
}

.app-product-container {
  color: $white;
  margin: 1rem;
  background-color: $light_grey;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  display: inline-block;
  width: 18rem;
  height: fit-content;
  justify-content: space-between;
  align-items: center;

  p.original-price {
    text-decoration: line-through;
    color: $promo_color;
    margin-right: 0.8rem;
    text-align: center;
    font-size: 1.4rem;
  }

  .img {
    background-color: white;
    border-radius: 1rem;
    height: 12rem;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .product-name {
    height: 3rem;
    h4 {
      text-align: center;
      font-size: 1.6rem;
    }
  }

  p.desc {
    font-size: 1.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    cursor: pointer;
  }

  p.price {
    text-align: center;
    font-size: 2rem;
    font-weight: 550;
    color: $neon_yellow;
  }

  button {
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: $white_accent;
    font-size: 1.5rem;
    font-weight: 600;
    width: 100%;
    transition: 0.2s;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
      transition: 0.3s;
    }

    &:active {
      transform: scale(1);
      background-color: $neon_yellow;
    }
  }
}

@media only screen and (max-width: 600px) {
}

@media only screen and (max-width: 600px) {
}
