@import "../../colors.scss";

html {
  font-size: 10px;
}

.app-product-container {
  color: $white;
  margin: 1rem;
  background-color: $light_grey;
  padding: 1.5rem;
  display: flex;
  border-radius: 1rem;
  display: inline-block;
  width: 18rem;
  height: fit-content;

  p.original-price {
    text-decoration: line-through;
    color: $promo_color;
    margin-right: 0.8rem;
    text-align: center;
    font-size: 1.4rem;
  }

  .img {
    background-color: white;
    border-radius: 1rem;
    height: 12rem;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .product-name {
    height: 3rem;
    h4 {
      text-align: center;
      font-size: 1.6rem;
    }
  }

  p.desc {
    font-size: 1.4rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    cursor: pointer;
  }

  p.price {
    text-align: center;
    font-size: 2rem;
    font-weight: 550;
    color: $neon_yellow;
  }

  button {
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    background-color: $white_accent;
    font-size: 1.5rem;
    font-weight: 600;
    width: 100%;
    transition: 0.2s;

    &:hover {
      cursor: pointer;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

@media only screen and (max-width: 630px) {
  .app-product-container:not(.specialOfferProduct) {
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 1rem;
    gap: 1rem;

    .img {
      height: 15rem;
      width: auto;
    }

    .product-name {
      h4 {
        font-size: 1.4rem;
        text-align: center;
        margin-top: 2rem;
      }
    }

    p.desc {
      font-size: 1.2rem;
      width: 100%;
      white-space: normal;
      overflow: visible;
    }

    p.price {
      font-size: 1.6rem;
      font-weight: 600;
      color: $neon_yellow;
    }

    button {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 1500px) {
  .app-product-container:not(.specialOfferProduct) {
    width: 45%;
    padding: 1rem;
    height: auto;

    .img {
      height: 15rem;
      width: auto;
    }

    .product-name {
      h4 {
        font-size: 1.4rem;
        text-align: center;
        margin-top: 2rem;
      }
    }

    p.desc {
      font-size: 1.2rem;
      width: 100%;
      white-space: normal;
      overflow: visible;
      height: auto;
    }

    p.price {
      font-size: 1.6rem;
      font-weight: 600;
      color: $neon_yellow;
    }

    button {
      width: 100%;
    }

    .priceAndButton {
      position: relative;
      top: 0px;
    }
  }
}
