$grey: #424242;
$black: black;
$light_grey: #1f221f;
$deep_grey: #616161;
$dark_grey: #1d1d1d;
$neon_orange: #f7683c;
$neon_yellow: #ffeb3b;
$white_accent: #fafafa;
$silver: #b0bec5;
$white: #eeeeee;
$red: #e60808;
$green: #10c108;
$promo_color: #a0a0a0;
